html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;  /* Set text color to white for better visibility on the background */
}